
body
{
font-family: "Fenix", serif;

}

.row {
    margin-bottom: 10px;
}

/*.row [class^="col-md-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
}*/
body, h1 {
  padding-top:30px;
  }
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
